.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container .banner{
    margin-top: 30px;
    width: 90%;
    height: 300px;
    background-image: url('https://images.pexels.com/photos/1050244/pexels-photo-1050244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    
}
.product-container .product-info{
    margin: 10px;
    padding: 30px;
    border: 1px solid #f2f2f2;
}

.product-container .product-info img{
    width: 250px;
    height: 250px;
}